<div class="wpdiv" #wpdiv>
  <div class="down_arrow_div">
    Scroll down<br />
    &#8595;
  </div>

  <div class="cbox" #cbox id="cbox">
    <h1>This radiance-boosting leave-on mask clarifies uneven tone, fades stubborn spots, and reduces the look of redness with 10% azelaic and 1% salicylic acids, revealing a brighter, more even complexion.</h1>
  </div>
  <!-- <div class="dbox" #dbox>Here is the d div</div> -->

  <div class="bbox" #bbox id="bbox">
    <div class="horizontal">
      <div *ngFor="let item of wordArray" class="item">{{ item }}</div>
    </div>
  </div>

  <div class="abox" #abox id="abox">
    <div class="ngtcc" #ngtcc id="ngtcc">
      <ngt-canvas
        id="canvas_1"
        [camera]="{ position: [-0.0, 2.7, 7], fov: 85 }"
      >
        <!-- <ngt-color attach="background" color="red"></ngt-color> -->
        <ngt-ambient-light intensity="0.3"></ngt-ambient-light>
        <ngt-spot-light
          [position]="10"
          angle="0.15"
          penumbra="1"
        ></ngt-spot-light>
        <ngt-point-light [position]="10"></ngt-point-light>

        <ng-container>
          <ngt-primitive
            #primitiveModel
            *ngIf="this.model$ | async as model"
            (ready)="this.modelReadyService($event)"
            [object]="model.scene"
            [position]="[0.0, -0.5, 0.0]"
            [scale]="[1.0, 1.0, 1.0]"
          >
          </ngt-primitive>
        </ng-container>
        <!-- (ready)="this.switch_off_zoom()" -->
        <ngt-soba-orbit-controls
          [target]="[0.0, 0.7, 0]"
          [enableZoom]="!isDisabled"
          [enabled]="!isDisabled"
        ></ngt-soba-orbit-controls>
      </ngt-canvas>
      <!-- </div>  [enableZoom]="isOpen" 
    
    -->
      <!-- NGT-canvas-div -->
    </div>
    <!-- abox -->
  </div>
  <!-- WPDiv -->
</div>
