html,
body {
  height: 300vh;
  width: 100vh;
  background-color: rgb(252, 252, 252);
  margin: 0 !important;
}

.abox {
  position: fixed;
  top: 10%;
  /* left: 10px; */
  /* border: 3px black dotted; */
  width: 100vw;
  height: 70vh;
  z-index: 1;
  align-content: left;
  background-color: rgb(255, 251, 0)
}

.bbox {
  position: fixed;
  top: 10%;
  left: 50%;
  /* border: 1px solid #dddddd; */
  width: 20vw;
  height: 40vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 2;
}

.cbox {
  position: fixed;
  top: 10%;
  /* left: 30%; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* border: 3px black dotted; */
  font-size: xx-large;
  font-weight: lighter;
  
  width: 40vw;
  height: 70vh;
  /* background-color: #2196f3; */
  opacity: 0;
  /* background-color: aqua; */
  padding-left: 20px;
  z-index: 0;
}

.dbox {
  position: absolute;
  top: 170%;
  left: 30%;
  border: 3px black dotted;
  width: 50vw;
  height: 70vh;
  
  opacity: 1;
  background-color: rgb(251, 0, 255);
}

.down_arrow_div {
  position: fixed;
  bottom: 50px;
  left: 50%;
  font-size: xx-large;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  width: 180px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid black;
  text-align: center;
  padding: 2px;
  font-size: 72px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.horizontal {
  display: flex;

  /* justify-content: space-around; */
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  align-content: center;
}

.item {
  position: relative;
  top: 400px;
  /* border: 1px solid #dddddd; */
  /* padding-left: 1.5px; */
  width: fit-content;
  height: fit-content;
  font-size: 72px;
  font-weight: 400;

  /* justify-content: center; */

  opacity: 0;
}

.ngtcc {
  height: 100%;
  width: 30%;
  /* left: 10px; */
  /* border: 1px solid #dddddd; */
  /* background-color: #2196f3; */
}

.open-close-container {
  left: 100px;
  border: 1px solid #dddddd;
  margin-top: 1em;
  /* padding: 20px 20px 0px 0px; */
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  width: 50vw;
}

p {
  display: inline-block;
  flex-grow: 1;
  height: 100px;
  width: calc(100% * (1 / 4) - 10px - 1px);
}

#wayout {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 10%;
  background-color: rgb(238, 0, 255);
}

.wpdiv {
  height: 300vh;
  width: 100vw;
  /* border: 5px dashed green; */
  /* overflow-x: scroll; */
  background-color: rgb(249, 249, 248);
  overflow: auto;
}
